[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
pycurl = "*"
landscape-api-py3 = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
flake8-mypy = "*"
2to3 = "*"
bump2version = "*"
wheel = "*"
watchdog = "*"
coverage = "*"
Sphinx = "*"
twine = "*"
tox-pipenv = "*"
setuptools = "*"
travis = "*"

[pipenv]
allow_prereleases = true
